.movie-page {
  display: grid;
  align-items: stretch;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 1fr;
  max-width: 1280px;
  margin: auto;
  padding: 40px 20px;
}

.movie-header {
  min-height: 80px;
  width:100%;
  color: darkblue;
}

.mat-card{
  width:100%;
}

img{
  object-fit:cover;
}

.mdc-card__actions{
  display:block;
}

.fav-button {
  margin-left: auto;
  color: #d87093;
}

.content {
  margin-top: 64px;
}
