.movie-page {
  display: grid;
  align-items: stretch;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 1fr;
  max-width: 1280px;
  margin: auto;
  padding: 40px 20px;
}

.movie-header {
  min-height: 80px;
  width:100%;
  color: darkblue;
}



.movie-img{
  object-fit: cover;
}


.mdc-card__actions{
  display:block;
}

.fav-button {
  margin-left: auto;
  color: #d87093;
}

.content {
  margin-top: 64px;
}

@media screen and (max-width: 660px){
  .movie-page {
    display: block;
  }
  *{
    word-wrap: break-word;
  }

  .content {
    margin-top: 64px;

  }
  .mat-mdc-card-subtitle~.mat-mdc-card-title, .mat-mdc-card-title~.mat-mdc-card-subtitle, .mat-mdc-card-header .mat-mdc-card-header-text .mat-mdc-card-title, .mat-mdc-card-header .mat-mdc-card-header-text .mat-mdc-card-subtitle, .mat-mdc-card-title-group .mat-mdc-card-title, .mat-mdc-card-title-group .mat-mdc-card-subtitle{
    font-size: 14px;
  }

  .movie-header[_ngcontent-ng-c4271111005]{
    width:auto;
  }
  .movie-img{
    width:100%;
    object-fit: cover;
  }
}
