<!-- src/app/movie-card/movie-card.component.html -->
<div>
  <app-navbar></app-navbar>
  <div class="movie-page content" fxLayout.xs="column">
  <mat-card fxFlex.xs="90%" *ngFor="let movie of movies;">
    <mat-card-header class="movie-header">
      <mat-card-title>{{movie.Title}}</mat-card-title>
      <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
    </mat-card-header>
    <img class="movie-img" src={{movie.ImagePath}} alt={{movie.Title}} />
    <mat-card-actions>
      <button  class="actions" mat-button color="primary" (click)="openGenreDialog(movie.Genre)">
        Genre
      </button>
      <button  class="actions" mat-button color="primary" (click)="openDirectorDialog(movie.Director)">
        Director
      </button>
      <button  class="actions" mat-button color="primary" (click)="openRatingDialog(movie.IMDbRating)">
        Rating
      </button>
      <button  class="actions" mat-button color="primary" (click)="openYearDialog(movie.ReleaseDate.slice(0, 4))">
        Release
      </button>
      <button  class="actions" mat-button color="primary" (click)="openActorsDialog(movie.Actors.join(', '))">
        Actors
      </button>
      <button class="primary" *ngIf="!isFavorite(movie._id)" mat-icon-button (click)="addFavorite(movie._id)" matTooltip="Add to favorites">
        <mat-icon>favorite_border</mat-icon>
      </button>
      <button class="fav-button" *ngIf="isFavorite(movie._id)" mat-icon-button (click)="removeFavorite(movie._id)" matTooltip="Remove from favorites">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  </div>
</div>
