<mat-card>
  <mat-card-header >
    <mat-card-title class="login-form-text">Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input class="login-input" matInput [(ngModel)]="loginData.Username" placeholder="Username" type="text" name="Username" required>
      </mat-form-field>
      <mat-form-field>
        <input class="login-input" matInput [(ngModel)]="loginData.Password" type="password" placeholder="Password" name="Password" required>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="loginUser()" class="login-button">
      Login
    </button>
  </mat-card-actions>
</mat-card>
