.navbar {
  position: fixed;
  background-color: #7898E4;
  color: white;
  top: 0;
  width: 100%;
  z-index: 1000;
}


.example-spacer {
  flex: 1 1 auto;
}

.title{
  margin-right: 10px;
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.title:hover{
  opacity: 0.9;
  translate: 0px -4px;
  transition: translate 0.3s ease-in-out;
}
