<div>
  <app-navbar></app-navbar>
  <div class="profile content">
    <h1 class="my-profile">My Profile</h1>
    <div class="grid">
      <div class="user-container">
        <p><span class="profile-data">Username:</span> {{ user.Username }}</p>
        <p><span class="profile-data">Email:</span> {{ user.Email }}</p>
        <p><span class="profile-data">Birthday:</span> {{ user.Birthday | date }}</p>
      </div>
      <mat-card>
        <mat-card-content>
          <form class="profile-form">
            <mat-form-field>
              <input matInput [(ngModel)]="userData.Username" placeholder="Username" type="text" name="Username"
                required>
            </mat-form-field>
            <mat-form-field>
              <input matInput [(ngModel)]="userData.Password" type="password" placeholder="Password" name="Password"
                required>
            </mat-form-field>
            <mat-form-field>
              <input matInput [(ngModel)]="userData.Email" type="email" placeholder="Email" name="Email" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput [(ngModel)]="userData.Birthday" type="date" placeholder="Birthday" name="Birthday" required>
            </mat-form-field>
            <mat-card-actions>
              <button mat-raised-button (click)="updateUser()" class="update-button">
                Update User
              </button>
              <button mat-raised-button (click)="deleteUser()" class="delete-button">
                Delete User
              </button>

            </mat-card-actions>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
