.profile {
  padding: 26px;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.profile-form {
  mat-form-field {
    width: 100%;
  }
}

button.update-button{
  color: white;
  background-color:#7898E4;
}

button.delete-button{
  color: white;
  background-color:#872242;
  margin-left: 8px;
}

.content {
  margin-top: 64px; /* Ajusta el valor según la altura de tu navbar */
}

.my-profile{
  color:#7898E4;
}

.profile-data{
  color:#7898E4;
}

@media screen and (max-width: 600px){
  .grid{
    display: flex;
    flex-direction:column;
  }
}
